<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>generateAppStoreInformation</key>
	<false/>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>J2Y925QHNV</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.intellieffect.drop.mobile</key>
		<string>DROP-Mobile-Provisioning-Profile</string>
		<key>com.intellieffect.drop.mobile.share</key>
		<string>DROP-ShareExtension-Provisioning-Profile</string>
		<key>com.intellieffect.drop.mobile.widget</key>
		<string>DROP-Widget-Provisioning-Profile</string>
	</dict>
	<key>testFlightInternalTestingOnly</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
