<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko</string>
	<key>CFBundleDisplayName</key>
	<string>DROP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>노트에 사진과 동영상을 첨부하는 데 사용합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>노트에 붙일 사진을 찍는 데 사용합니다.</string>
	<key>DROP_ENVIRONMENT</key>
	<string>$(DROP_ENVIRONMENT)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>GOOGLE_WEB_CLIENT_ID</key>
	<string>$(GOOGLE_WEB_CLIENT_ID)</string>
	<key>GOOGLE_IOS_CLIENT_ID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Google 로그인 콜백. iOS 클라이언트 ID를 뒤집은 값이며
				     scripts/ios-config.sh가 자동으로 계산해 넣는다. -->
				<string>$(GOOGLE_IOS_CLIENT_ID_REVERSED)</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
